@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-subnav">
    <div class="container">
        <div class="navbar-header">
            <span class="page-title navbar-brand">Ingredients</span>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_SubNavLinks");
            <div class="navbar-right">
                @Html.ActionLink("Add Ingredient", "Create", "Ingredient", null, new { @class = "btn btn-default navbar-btn" })
            </div>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}


